.home-page {
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s ease forwards;
    opacity: 0;
    align-items: center;
    justify-content: flex-start;
    height: 100vh; 
    background-color: #f0f4f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .home-page h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #333;
  }
  
  .home-page input {
    padding: 10px;
    margin: 10px;
    width: 250px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
  }
  
  .home-page button {
    padding: 12px 24px;
    margin: 10px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    background-color: #0004ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .home-page button:hover {
    background-color: #00aeff;
  }

  .button-slide {
    padding: 12px 24px;
    font-size: 1rem;
    color: white;
    background: linear-gradient(to right, #0077ff, #00c6ff);
    border: none;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: background 0.4s ease;
  }
  
  .button-slide::after {
    content: '';
    position: absolute;
    top: 0; left: -100%;
    width: 100%; height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-45deg);
    transition: left 0.4s ease;
  }
  
  .button-slide:hover::after {
    left: 100%;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }